:root{
  --primary-color : #008C9E;
  --secondary-color: rgb(228, 227, 227);
  --grown: #696758;
  --grey: #45484B;
}

body{
  margin:0px;
  padding:0px;
  background-color:var(--secondary-olor) ;
  color:var(--grey);
  /* , #d6c06c, #896e3e, #5a4d35, #463d29 */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}